// ./scss/app.scss
/*
    FICHIER DE SURCHARGE
 */
    @import 'framework/variables';
/* ---------------------------------------------------
   SPECIFICATIONS GENERALES - Valeurs par défaut
   ---------------------------------------------------
*/
    body {
      background: $couleur2C;
      margin: 0;
      font-family: $fontPrimary, sans-serif;
      color: $couleur1C;
    }
    main {
      background: url('../media/team.jpg');
      background-position: center top;
      background-attachment: fixed;
      background-size: 1145px;
    }
/* ---------------------------------------------------
   OBJETS PARTICULIERS
   ---------------------------------------------------
*/

//--------HEADER AVEC LOGO ET MENU--------

  #logo_principal {
    display: flex;
    justify-content: center;
    padding: 1em 0 1em 0;
    figure {
      padding-left: 20px;
      @media screen and (min-width: 992px) {
        padding-left: 0;
      }
    }
  }
  #logo_ieps{
    @media screen and (min-width: 992px) {
      margin-top: 10px;
      margin-left: 0;
    }
    img{
      width: 200px;
      height: 68px;
      @media screen and (min-width: 992px) {
        width: 200px;
        height: 54px;
      }
    }
  }
  #logo_fwb{
    @media screen and (min-width: 992px) {
      margin-left: 30px;
    }
    img{
      width: 70px;
      height: 65px;
    }
  }

//--------HEADER DU CONTENU PRINCIPAL--------
  #header_principal {
    position: relative;
    h1{
      font-family: $fontPrimary;
      font-size: 65px;
      text-transform: uppercase;
      text-align: center;
      color: $couleur1F;
      margin: 0;
      padding-top: 80px;
      @media screen and (min-width: 992px) {
        font-family: $fontSecondary;
        font-size: 60px;
        padding-top: 35px;
      }
    }
    h2{
      text-align: center;
      font-size: 40px;
      line-height: 40px;
      margin-top: 25px;
      @media screen and (min-width: 992px) {
        margin: 0;
        font-size: 35px;
        font-weight: normal;
        line-height: 50px;
      }
    }
    p{
      text-align: center;
      font-weight: bold;
      margin: 0;
      padding: 20px;
      font-size: 14px;
      @media screen and (min-width: 992px) {
        font-size: 12px;
        font-weight: normal;
      }
    }
  }

//--------INFORMATIONS PRATIQUES--------
  #information_pratique {
    margin-top: 80px;
    text-align: center;
    @media screen and (min-width: 992px) {
        margin-top: 40px;
    }
    > h2{
      font-family: $fontPrimary;
      font-size: 27px;
      text-transform: none;
      margin: 0;
      padding: 1em 0 .5em;
      @media screen and (min-width: 992px) {
        font-size: 24px;
        padding-bottom: 10px;
      }
    }
    > h3{
      font-family: $fontPrimary;
      font-size: 13px;
      margin-top: 5px;
      margin-bottom: 0;
      @media screen and (min-width: 992px) {
        font-weight: normal;
        margin: 0;
      }
  }
  #border_information{
    border-top: 1px solid $couleur2C;
    width: 250px;
    margin: .5em auto 1em;
    text-align: center;
    @media screen and (min-width: 992px) {
      border-top: 1px solid $couleur3F;
      width: 200px;
      margin-bottom: 55px;
    }
  }

  //--------lES BOITES AVEC LES ICONES--------
  #organisation {
    img{
      margin-top: 20px;
      width: 85px;
      height: 95px;
      //width: 130px;
      //height: 140px;
    }
  }
  #horaire {
    img{
      margin-top: 20px;
      width: 96px;
      height: 95px;
      //width: 141px;
      //height: 140px;
    }
  }
  #diplome {
    img{
      margin-top: 20px;
      width: 76px;
      height: 95px;
      //width: 121px;
      //height: 140px;
    }
  }
}

//--------DETAILS DE LA FORMATION--------
#details_formation{
  background-color: $couleurN2;
  line-height: 18px;
  padding-bottom: 25px;
  @media screen and (min-width: 992px) {
    padding-bottom: 55px;
  }
  > h2 {
    font-family: $fontPrimary;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding-top: 1em;
    @media screen and (min-width: 992px) {
      margin-bottom: 55px;
      padding-top: 1.5em;
    }
  }
  #section1 {
    @media screen and (min-width: 992px) {
      padding-right: 12px;
      border-right: 1px solid $couleur2;
    }
  }
  #section2 {
    @media screen and (min-width: 992px) {
      padding-right: 12px;
      border-right: 1px solid $couleur2;
    }
  }
}

//--------CONTENU DES DETAILS ET DE LA FORMATION EN BREF--------
.content {
  margin: 20px 2em 0 2em;
  text-align: justify;
  @media screen and (min-width: 992px) {
    margin: 0 15px 0 0;
    text-align: inherit;
  }
  article {
    padding-bottom: .8em;
    @media screen and (min-width: 992px) {
      padding-bottom: 0;
    }
  }
  h3 {
    font-family: $fontTertiary;
    font-weight: normal;
    margin: 0 0 20px;
    @media screen and (min-width: 992px) {
      font-family: $fontPrimary;
      font-weight: bold;
      font-size: 17px;
      margin: 0 0 10px;
    }
  }
  h4 {
    font-family: $fontTertiary;
    font-weight: normal;
    margin: 0;
    @media screen and (min-width: 992px) {
      font-size: 11px;
    }
  }
  p {
    font-family: $fontPrimary;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    margin: 8px 0 10px;
    @media screen and (min-width: 992px) {
      font-weight: normal;
      font-size: 10px;
      margin-bottom: 12px;
    }
  }
}

  //--------LES CONDITIONS D'ACCES--------
  #conditions_acces {
    background-color: $couleur2;
    padding: 40px 25px 5px;
    margin-top: 0;
    @media screen and (min-width: 992px) {
      padding: 8px 0 0 15px;
      margin: -70px 0 0 298px;
    }
  }


//--------LA CARTE GOOGLE MAPS--------
#background_map {
  @media screen and (min-width: 992px){
    background-color: $couleur1C;
    //position: relative;
  }
}
#map {
  height: 700px;
  @media screen and (min-width: 992px){
    height: 400px;
    //position: absolute;
    //z-index: 0;
  }
}

//--------FORMATION EN BREF--------
#formation_bref {
  background-color: $couleurN2;
  h2 {
    font-family: $fontPrimary;
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding-top: 15px;
    @media screen and (min-width: 992px) {
      font-size: 26px;
      margin-bottom: 10px;
      padding-top: 1.5em;
    }
  }
  > p {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin: 14px 0 0;
    @media screen and (min-width: 992px) {
      font-size: 14px;
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
  #border_formation{
      border-top: 1px solid $couleur3;
      width: 170px;
      margin: .5em auto 35px;
  }
  article {
    margin-bottom: 15px;
    @media screen and (min-width: 992px) {
      margin-right: 0;
      padding-right: 25px;
    }
    a {
      color: $couleur3C;
    }
    ul {
      list-style: none;
      padding: 0;
      @media screen and (min-width: 992px) {
        font-size: 10px;
        margin-bottom: 15px;
      }
      li{
        padding-bottom: 8px;
        font-weight: bold;
        @media screen and (min-width: 992px) {
          font-weight: normal;
          padding: 0;
        }
        h4 {
          font-family: $fontTertiary;
          font-weight: normal;
          margin-bottom: 10px;
          @media screen and (min-width: 992px) {
            font-size: 10x;
            font-family: $fontPrimary;
            font-weight: bold;
            margin-bottom: 0;
          }
        }
        a {
          color: $couleur2C;
          text-decoration: none;
        }
      }
    }
  }
}


//--------FOOTER--------
#footer{
 ul {
    @media screen and (min-width: 992px) {
      margin-top: 35px;
    }
  }
  @media screen and (min-width: 992px) {
    padding-top: 20px;
  }

  h3 {
    color:#4C4C4B;
    font-size: 15px;
    text-align: center;
    @media screen and (min-width: 992px) {
      text-align: inherit;
      font-size: 10px;
      font-weight: normal;
    }
  }
}
//--------RESEAUX SOCIAUX--------
#reseaux_sociaux{
  display: flex;
  margin: 30px 0 50px;
  justify-content: center;
  @media screen and (min-width: 992px) {
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

#facebook{
  margin: 0 16px 0 16px;
  width:37px;
  height: 37px;
  background: url('../media/icone-reseaux-sociaux-sprite.png') 0px;
  @media screen and (min-width: 992px) {
    margin: 0 5px 0 0;
  }
}

#twitter {
  margin: 0 16px 0 16px;
  width:37px;
  height: 37px;
  background: url('../media/icone-reseaux-sociaux-sprite.png') -37px;
  @media screen and (min-width: 992px) {
    margin: 0 5px 0 10px;
  }
}

#google_plus{
  margin: 0 16px 0 16px;
  width:37px;
  height: 37px;
  background: url('../media/icone-reseaux-sociaux-sprite.png') -74px;
  @media screen and (min-width: 992px) {
    margin: 0 5px 0 10px;
  }
}
#youtube{
  margin: 0 16px 0 16px;
  width:37px;
  height: 37px;
  background: url('../media/icone-reseaux-sociaux-sprite.png') 37px;
  @media screen and (min-width: 992px) {
    margin: 0 5px 0 10px;
  }
}

//--------COPYRIGHT--------
#copyright{
  margin-left: 700px;
  font-size: 10px;
  color:#4C4C4B;
  padding-bottom: 15px;
}
