// ./scss/framework/modules/_boites.scss
// MODULE DES BOITES

  .boite_dimension__fixe_l{
    width: 100%;
    max-width: $boiteDimensionFixe;
    margin: auto;
  }

//--------BOITE AVEC LES ICONES--------
  .boite_Info_Pratique {
    background: $couleur1F;
    margin: 20px 25px 0 25px;
    padding-bottom: 2.5em;
    @media screen and (min-width: 992px) {
      padding: 0;
      margin: 20px 15px 0 0;
    }
     h2 {
      font-family: $fontPrimary;
      font-size: 20px;
      margin-top: 28px;
      padding-top: 25px;
      @media screen and (min-width: 992px) {
        font-size: 15px;
        padding-top: 5px;
      }
    }
    p {
      font-size: 14px;
      font-weight: bold;
      line-height: 15px;
      @media screen and (min-width: 992px) {
        font-weight: normal;
        font-size: 10px;
      }
    }
  }
