@media screen and (min-width: 992px) {
  .triangle {
    height: 0;
    width: 0;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    margin: 0 auto;
  }

  .triangle-neutre {
    @extend .triangle;
    border-top: 50px solid $couleurN2;
  }
}
