// ./scss/framework/modules/_menus.scss
// MODULE DES MENUS

  .menu_type__horizontal {
    display: flex;
    justify-content: $menuJustifyContent;
    list-style: none;
    padding-left: 0;
    margin: 22px 0 22px 15px;
    align-items: $menuAlignVertical;
    @media screen and (min-width: 992px) {
      margin: 40px 0 22px 15px;
    }
  }

  .menu_type__horizontal > li > a  {
    padding: 2px 10px;
    color: $menuCouleurTexteNormal;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    @media screen and (min-width: 992px) {
      font-size: 8px;
      font-weight: normal;
      border-right: 0.5px solid #C4C4B7;
    }
  }
