// ./scss/framework/modules/_polices.scss
// Modules des polices

@font-face {                  // Pour définir la police
  font-family: 'Aller_lt';   //Pour définir le nom de la police
  //Indiquer le chemin de la police de caractère, on prend le format ''woff2' car c'est le plus moderne et ensuite On met aussi l'ancien format pour les anciens navigateurs
  src: url('../../polices/aller_lt.woff2') format('woff2'),
       url('../../polices/aller_lt.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebasneue';
  src: url('../../polices/bebasneue.woff2') format('woff'),
       url('../../polices/bebasneue.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura_koyu' ;
  src: url('../../polices/futura_koyu.woff2') format('woff2'),
       url('../../polices/futura_koyu.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
