// ./scss/framework/modules/_utilistaires.scss
// Modules des utilitaires

.utilitaire_visibilite__none {
  display: none;
}

@each $taille, $dimension in $grilleBreakPoints {
  .#{$taille}-visible {
    display: none;
  }
  @media screen and (min-width: #{$dimension}) {
    .#{$taille}-cache {
      display: none;
    }
    .#{$taille}-visible {
      display: unset;
    }
  }
}
