// ./scss/framework/_variables.scss
// PARAMETRES DU FRAMEWORK

/*
    1. LES COULEURS
    2. LES BOITES
    3. LES TEXTES
    4. LES MENUS
    5. LES GRILLES
    6. LES PAGINATIONS
 */

/* -----------------------------------------
     1. LES COULEURS
   ----------------------------------------- */
  // PALETTE DE COULEURS
    $couleur1: #4C4C4B;
    $couleur2: #FF2255;
    $couleur3: #6E6E6A;

    //COULEURS FONCES
    $couleur1F: #FF2255;
    $couleur2F: #666663;
    $couleur3F: #4A484A;

    //COULEURS CLAIRS
    $couleur1C: #EEEEDD;
    $couleur2C: #EDEDDC;
    $couleur3C: #BDB1B1;

    // COULEURS NEUTRES
    $couleurN1: #fff;
    $couleurN2: #444444;

/* -----------------------------------------
     2. LES BOITES
   ----------------------------------------- */
  $boiteDimensionFixe: 900px;
  $boiteBordsDimension: 2px;
  $boiteBordsCouleur: $couleurN1;
  $boitePadding: 2rem;

/* -----------------------------------------
     3. LES TEXTES
   ----------------------------------------- */

  $texteTailleGrand: 3rem;
  $texteTailleMedium: 1.2rem;
  $texteTaillePetit: .8rem;

  $fontPrimary: 'Aller_lt';
  $fontSecondary: 'Bebasneue';
  $fontTertiary: 'Futura_koyu';

/* -----------------------------------------
     4. LES MENUS
   ----------------------------------------- */
// MENU_TYPE__HORIZONTAL
    $menuGoutiere: 1px;
    $menuJustifyContent: center;
    /* flex-start, flex-end, center,
       space-between, space-around, stretch */
    $menuAlignVertical: center;
    /* stretch, center, baseline */

    // Etat normal
    $menuCouleurNormal: #000;
    $menuCouleurTexteNormal: $couleur2F;

    // Etat actif et hover
    $menuCouleurActif: #000;
    $menuCouleurTexteActif: #fff;

/* -----------------------------------------
     5. LES GRILLES
   ----------------------------------------- */
  $grilleNombreColonnes:       12;
  $grilleGoutiereHorizontale: 0rem;
  $grilleGoutiereVerticale:   0rem;
  $grilleBreakPoints:  ('xs'  : '0',
                        's'  : '576px',
                        'm'  : '768px',
                        'l'  : '992px',
                        'xl' : '1200px');


/* -----------------------------------------
       6. LES PAGINATIONS
  ----------------------------------------- */
  $paginationJustifyContent: center;
  /* flex-start, flex-end, center,
     space-between, space-around, stretch */
  $paginationAlignVertical: center;
  /* stretch, center, baseline */
  $paginationPadding: .5em 1em;

  // Etat normal
  $paginationCouleurNormal: #fff;
  $paginationCouleurTexteNormal: $couleur1;
  $paginationBordNormal: $couleur1 1px solid;

  // Etat actif et hover
  $paginationCouleurActif: $couleur1;
  $paginationCouleurTexteActif: #fff;
